//tipografia
$fuente_principal: 'Montserrat', sans-serif;

//Colores
$negro: black;
$blanco: #FFF;
$azulPrimario: #5fc9f3;
$azulOscuro: #081f37;
$azulClaro: #2e79ba;
$azulSecundario: #1e549f;
$gris: #383838;
$grisClaro: #D3D3D3;
$grisOscuro: #A9A9A9;
$platino: #E5E4E2;